<div id='sql_panel' style='display: none'>
  Please input SQL below:
  <br>
  <textarea id='sql' cols='140' rows='4' class='form-control'></textarea>
  <button type='button' class='btn btn-success' onclick='execute_sql()'>Execute</button>
  <br>
  We haven't support SELECT yet.
  <br>
  Examples:
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;CREATE TABLE albums (id integer primary key, name varchar(255))
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;ALTER TABLE albums ADD COLUMN copies_sold INTEGER
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;TODO: Automatic generate SQL for this specific table with update and delete SQL here.
  <br>
  <br>
</div>
<script>
  function show_sql_panel() {
    $('#sql_panel').show();
    $('#schema').show();
  }

  function execute_sql() {
    $.ajax({
      url: "/execute_sql",
      data: 'sql=' + $('#sql').val(),
      type: 'POST',
      success: function(data) {
        alert('Your SQL executed successfully. ' + (data['result'] == null ? '' : "\nThe result is " + data['result'] + '.'));
      },
      error: function(jqXHR) {
        alert('SQL executed failed!\n' + $.parseJSON(jqXHR.responseText)['message']);
      }
    });
  }
</script>