<%= notice_info %>

<div>
  <h2>Usage</h2>
  <b>Double click</b> to modify any column on the table pages.
  <br>
  <br>
</div>

<div>
  <button type='button' class='btn btn-primary' onclick='show_sql_panel.call(this)'>Execute SQL</button>
  <br>

  <%= erb :_execute_sql %>

  <br>
  <br>
  <br>
  <br>
</div>

<a href='https://github.com/gazeldx/ruby-db-admin' target='_blank'>ruby-db-admin</a>@github