<%= notice_info %>

            <h4>Set DB</h4>

<div id='set-db-form'>
  <form action='set_db'>
    db: <input type='text' name='database'/>
    <input type='submit'/>
  </form>

</div>

<br/>
<hr/>

<div>
              <h4>Run SQL</h4>

  <button type='button' class='btn btn-primary' onclick='show_sql_panel.call(this)'>Execute SQL</button>
  <br>

  <%= erb :_execute_sql %>

  <br>
  <br>
  <br>
  <br>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<hr/>

<a href='https://github.com/gazeldx/ruby-db-admin' target='_blank'>ruby-db-admin</a>@github

<div>
  <h4>Usage</h4>
  <b>Double click</b> to modify any column on the table pages.
  <br>
  <br>
</div>
















